@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 98vh;
    width:  92vw;
    margin-left: 50px;
    align-items: flex-start;
    border: 1px solid black;
}

.user-menu img{
    padding-left: 10px;
    max-width: 50px;
    height: 55px;
}

.navbar ul{
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    height: 98vh;
    background-color:rgba(215, 245, 243, 0.76);
    border: 2px solid black;
}

.navbar li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.navbar li a:hover{
    background-color: black;
    color: white;
}

.page{
    display: flex;
    flex: 1;
    gap: 10px;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 98vh;   
}
/*stile login*/
.Log{
    display: flex;
    justify-content: center; /* centro orizzontale */
    align-items: center;     /* centro verticale */
    height: 100vh;           /* altezza totale schermo */
    margin: 0;
    background-color:aliceblue;
}
.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #f0ffff;
    border-radius: 10px;
}

.registrazione {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primo{
    text-transform: uppercase;
    background-color: lavender;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

.primo:hover{
    background-color: rgb(183, 240, 187);
    color: black;
}
